body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    position: relative;
    min-width: 680px;
    /*overflow: hidden;  Overflow set to hidden. Any elements outside of the window will not be shown */
    height: 100%; /* Height set to 100% means the body will extend from the top of the window to the bottom */
    max-height: 100%; /* Maximum height is limited to 100% */
}

header {
    background: #0033cc;
    color: white;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #f4f4f4;
    margin: 0.5rem 0;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: grab;
}

li.dragging {
    opacity: 0.5;
}

footer {
    text-align: center;
    padding: 5px;
    background: #ddd;
    position:fixed;
    bottom: 0;
    margin-top: 10px;
}



.chart-container {
    width: 420px; /* Adjust the width of the chart */
    height:fit-content;
    margin-left: auto;
    margin-right:3%;
    position: absolute;
    min-width: 30vh;
    left: 250px;
    right: 0px; /* Position the chart on the right side */
    top: 150px; /* Adjust as needed for positioning */
    max-height: 63vh; /* Optional: Limit the maximum height */
    max-width:100vh;
    overflow-y: scroll; /* Allow scrolling when the chart overflows */
}
  
  
canvas {
    width: 100% !important; /* Make the canvas width responsive */
    height: 100% !important; /* Make the canvas height responsive */
  }

  
.weights-container {
    width: 170px; /* Adjust width as needed */
    max-width: 30vh;
    max-height: 60vh; /* Ensure it fits within the viewport */
    overflow-y: auto; /* Enable scrolling for overflow */
    background-color: #f4f4f4; /* Light background color */
    padding: 10px;
  }
  
  
  span {
    margin-right: 10px; /* Space between label and buttons */
    font-weight: bold;
  }
  
  #details-container {
    position: absolute;
    left: 20%; /* Adjust as needed */
    top: 200px; /* Adjust as needed */
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    display: none; /* Hidden by default */
  }
  
  #details-title {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: bold;
  }
  
  #details-info {
    font-size: 14px;
  }
  
  

  
  