body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #0033cc;
    color: white;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #f4f4f4;
    margin: 0.5rem 0;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: grab;
}

li.dragging {
    opacity: 0.5;
}

footer {
    text-align: center;
    padding: 5px;
    background: #ddd;
    position:fixed;
    bottom: 0;
    margin-top: 10px;
}



.chart-container {
    width: 50%; /* Adjust the width of the chart */
    height:fit-content;
    margin-left: auto;
    margin-right:1%;
    position: absolute;
    right: 0; /* Position the chart on the right side */
    top: 150px; /* Adjust as needed for positioning */
    max-height: 60vh; /* Optional: Limit the maximum height */
    overflow-y: scroll; /* Allow scrolling when the chart overflows */
}
  
  
canvas {
    width: 100% !important; /* Make the canvas width responsive */
    height: 100% !important; /* Make the canvas height responsive */
  }


body {
    
    margin: 0;
    height: 100vh;
}
  
.weights-container {
    width: 35%; /* Adjust width as needed */
    max-height: 30vh; /* Ensure it fits within the viewport */
    overflow-y: auto; /* Enable scrolling for overflow */
    background-color: #f4f4f4; /* Light background color */
    padding: 10px;
  }
  
  .filter-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Space between rows */
  }
  
  span {
    margin-right: 10px; /* Space between label and buttons */
    font-weight: bold;
  }
  
  .filter-btn {
    margin: 0 2px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .filter-btn.selected {
    background-color: #007BFF;
    color: white;
  }

  .filter-label {
    flex: 0 0 80px; /* Set a fixed width for labels */
    text-align: right; /* Align text to the right */
    margin-right: 10px; /* Space between label and buttons */
    font-size:11px;
  }



  .description-container {
    left: 20px; /* Match the left alignment of the filter container */
    top: 100%; /* Position it below the filter container */
    width: 35%; /* Match the width of the filter container */
    margin-top: 10px;
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 14px;
  }
  
  